{% extends 'layouts/base.html' %}
{% load static %}
{% load utility_tags %}

{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo" src={% static '/assets/img/add-password.png' %}>
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add new password</h3>

                            {% if messages %}
                                <div class="alert alert-primary" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <form method="POST" action="/add-password/" class="px-md-2">
                                {% csrf_token %}
                                <!-- username -->
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="username" required>
                                    <label for="username">Username</label>
                                </div>

                                <!-- password -->
                                <div class="input-group mb-4">
                                    <div class="form-floating">
                                        <input type="text" id="password" name="password" class="form-control"
                                               placeholder="password"/>
                                        <label for="password">Password</label>
                                    </div>
                                    <button type="button" id="generate-password-button" class="btn btn-primary" onclick="generatePasswordHandler()">
                                        Generate
                                    </button>
                                </div>

                                <!-- application type -->
                                <div class="col-md-6 mb-4">
                                    <select required class="form-select form-select-lg mb-4" name="application_type"
                                            aria-label=".form-select-lg example" onchange="addFields(this)">
                                        <option selected value=" ">Application type</option>
                                        <option value="Website">Website</option>
                                        <option value="Desktop application">Desktop application</option>
                                        <option value="Game">Game</option>
                                    </select>
                                </div>

                                <div id="dynamic_input_field_container"></div>

                                <button type="submit" class="btn btn-success btn-md mb-1">Submit</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}