{% extends 'layouts/base.html' %}
{% load static %}
{#{% load decrypt_tags %}#}


{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo" src={% static '/assets/img/add-password.png' %}>
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Edit password</h3>

                            <form method="POST" class="px-md-2">
                                {% csrf_token %}

                                {% if messages %}
                                    <div class="alert alert-primary" role="alert">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <!-- username -->
                                <div class="form-floating mb-4">
                                    {{ form.username }}
                                    <label for="username">Username</label>
                                </div>

                                <!-- password -->
                                <div class="form-floating mb-4">
                                    {{ form.password }}
                                    <label for="password">Password</label>
                                </div>

                                <!-- application type -->
                                <div class="form-floating mb-4">
                                    {{ form.application_type }}
                                    <label for="password">Application type</label>
                                </div>

                                {% if form.application_type.value == 'Website' %}
                                    <div class="form-floating mb-4">
                                        {{ form.website_name }}
                                        <label for="website_name">Website name</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{ form.website_url }}
                                        <label for="website_url">Website URL</label>
                                    </div>
                                {% elif form.application_type.value == 'Desktop application' %}
                                    <div class="form-floating mb-4">
                                        {{ form.application_name }}
                                        <label for="application_name">Application name</label>
                                    </div>
                                {% elif form.application_type.value == 'Game' %}
                                    <div class="form-floating mb-4">
                                        {{ form.game_name }}
                                        <label for="game_name">Game name</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{ form.game_developer }}
                                        <label for="game_developer">Game developer</label>
                                    </div>
                                {% endif %}

                                {% if form.errors %}
                                    <div class="text-danger">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <p>{{ field.label }}: {{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-success btn-md mb-1">Update</button>
                                    <button type="submit" name="delete" class="btn btn-danger btn-md mb-1">
                                        Delete
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}