{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="container">
        <div class="mt-2 mb-4"><h3>Manage passwords</h3>
            <hr/>
        </div>

        {% if all_passwords %}
            <!-- web app -->
            {% if all_passwords.web_app %}
                <div class="mb-4">
                    <h5>Application type: Website</h5>
                    <hr/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Website name</th>
                            <th scope="col">Website URL</th>
                            <th scope="col">Last updated</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        {% for password in all_passwords.web_app %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ password.username }}</td>
                                <td>{{ password.password }}</td>
                                <td>{{ password.website_name }}</td>
                                <td>{{ password.website_url }}</td>
                                <td>{{ password.date_last_updated }}</td>
                                <td><a href="{% url 'edit-password' password.id %}">Edit</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div>
            {% endif %}

            <!-- desktop app -->
            {% if all_passwords.desktop_app %}
                <div class="mb-4">
                    <h5>Application type: Desktop</h5>
                    <hr/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Application name</th>
                            <th scope="col">Last updated</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        {% for password in all_passwords.desktop_app %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ password.username }}</td>
                                <td>{{ password.password }}</td>
                                <td>{{ password.application_name }}</td>
                                <td>{{ password.date_last_updated }}</td>
                                <td><a href="{% url 'edit-password' password.id %}">Edit</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div>
            {% endif %}

            <!-- game -->
            {% if all_passwords.game %}
                <div class="mb-4">
                    <h5>Application type: Game</h5>
                    <hr/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Game name</th>
                            <th scope="col">Game developer</th>
                            <th scope="col">Last updated</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        {% for password in all_passwords.game %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ password.username }}</td>
                                <td>{{ password.password }}</td>
                                <td>{{ password.game_name }}</td>
                                <td>{{ password.game_developer }}</td>
                                <td>{{ password.date_last_updated }}</td>
                                <td><a href="{% url 'edit-password' password.id %}">Edit</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div>
            {% endif %}

        {% else %}
            <div  class="w-50 mx-auto">
                <img src={% static '/assets/img/no-data.svg' %} alt="no-data">
            </div>

        {% endif %}
    </section>

{% endblock %}