{% extends 'layouts/base.html' %}
{% load static %}
{% load decrypt_tags %}

{% block content %}

    <section class="container">
        <div class="mt-2 mb-4"><h3>Manage passwords</h3>
            <hr/>
        </div>

        <!-- -->
        {% if all_passwords %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Application Type</th>
                        <th scope="col">Application Name</th>
                        <th scope="col">Details</th>
                        <th scope="col"><a style="text-decoration: none;"
                                href="{% url 'manage-passwords' %}?sort_order={% if sort_order|default:"desc" == "desc" %}asc{% else %}desc{% endif %}">
                            Last updated</a>
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for password in all_passwords %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ password.username }}</td>
                            <td>
                                <input class="form-control w-50" type="password" value="{{ password.password|decrypt_template_tag }}" disabled readonly/>
                            </td>
                            <td>{{ password.application_type }}</td>
                            <td>
                                {% if password.website_name %}
                                    {{ password.website_name }}
                                {% elif password.game_name %}
                                    {{ password.game_name }}
                                {% elif password.application_name %}
                                    {{ password.application_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if password.website_url %}
                                    {{ password.website_url }}
                                {% elif password.game_developer %}
                                    {{ password.game_developer }}
                                {% endif %}
                            </td>
                            <td>{{ password.date_last_updated }}</td>
                            <td><a href="{% url 'edit-password' password.id %}">Edit</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="w-50 mx-auto">
                <img src={% static '/assets/img/no-data.svg' %} alt="no-data">
            </div>
        {% endif %}
    </section>

{% endblock %}