{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6 mb-3">
                    <img src={% static '/assets/img/login.svg' %} class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <div class="d-flex flex-column justify-content-center mb-4 login-header">
                        <h2>New to password manager app? Please sign up and maintain your passwords easily.</h2>
                    </div>
                    <form method='POST'>
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-primary" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- Username -->
                        <div class="form-floating mb-4">
                            {{ form.username }}
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="text-danger my-3">{{ form.username.errors }}</div>

                        <!-- Email input -->
                        <div class="form-floating mb-4">
                            {{ form.email }}
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="text-danger my-3">{{ form.email.errors }}</div>

                        <!-- Password input -->
                        <div class="form-floating mb-4">
                            {{ form.password1 }}
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="text-danger my-3">{{ form.password1.errors }}</div>

                        <!-- Confirm Password input -->
                        <div class="form-floating mb-4">
                            {{ form.password2 }}
                            <label for="confirmfloatingPassword">Confirm Password</label>
                        </div>
                        <div class="text-danger my-3">{{ form.password2.errors }}</div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-success btn-lg w-100">Sign up</button>

                        <div class="divider d-flex align-items-center my-3">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">Already have an account?</p>
                        </div>
                    </form>
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg w-100" role="button">Sign In</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}