{% extends 'layouts/base.html' %}
{% load static %}
{% load decrypt_tags %}

{% block content %}
    <section class="container">
        <div class="d-flex h-100 w-100 mt-2 mb-5">
            <div class="align-self-center mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="search" class="form-control rounded" name="password_search" placeholder="Search"
                               aria-label="Search"
                               aria-describedby="search-addon"/>
                        <button type="submit" class="btn btn-outline-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>

        {% if messages %}
            <div class="w-50 mx-auto">
                <div class="alert alert-primary text-center" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if  passwords %}
            <div class="table-responsive">
                <table class="table table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="d-none d-md-block">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col" class="text-nowrap">Application Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for password in passwords %}
                        <tbody>
                        <tr>
                            <td class="d-none d-md-block">{{ forloop.counter }}</td>
                            <td>{{ password.username }}</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input class="form-control" type="password" id={{ forloop.counter }}
                                            value="{{ password.password|decrypt_template_tag }}" disabled readonly>
                                    <div class="input-group-append">
                                        <button onclick="toggleView({{ forloop.counter }})"
                                                class="btn btn-sm btn-outline-secondary" type="button"
                                                id="view-password">
                                            <i id="icon-{{ forloop.counter }}" class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>{{ password.application_type }}</td>
                            <td>
                                {% if password.website_name %}
                                    {{ password.website_name }}
                                {% elif password.game_name %}
                                    {{ password.game_name }}
                                {% elif password.application_name %}
                                    {{ password.application_name }}
                                {% endif %}
                            </td>
                            <td><a href="{% url 'edit-password' password.id %}">Edit</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="w-50 mx-auto">
                <img src={% static '/assets/img/search.svg' %} alt="no-data">
            </div>
        {% endif %}
    </section>
{% endblock %}